<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Example</title>
    {{ render_bundle('app1', 'js') }}
    {{ render_bundle('app2', 'js', skip_common_chunks=False) }}
  </head>

  <body>
    <div id="react-app"></div>
    {{ render_bundle('app1', 'js', skip_common_chunks=False) }}
    {{ render_bundle('app2', 'js', skip_common_chunks=False) }}
  </body>
</html>
