{% load render_bundle webpack_static from webpack_loader %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Example</title>
    {% render_bundle 'main' 'css' %}
    {% render_bundle 'app2' 'css' config='APP2' %}
  </head>

  <body>
    <img src="{% webpack_static 'my-image.png' %}"/>
    <img src="{% webpack_static 'my-image.png' 'APP2'%}"/>
    <div id="react-app"></div>
    {% render_bundle 'main' 'js' attrs='async charset="UTF-8"'%}
    {% render_bundle 'app2' 'js' config='APP2' %}
  </body>
</html>
