version: 2.1

workflows:
  tests:
    jobs:
      - base-test:
          matrix:
            parameters:
              python-version: ["3.8", "3.9", "3.10", "3.11", "3.12"]
              django-version: ["3.2", "4.2", "5.0", "5.1"]
            exclude:
              - python-version: "3.8"
                django-version: "5.0"
              - python-version: "3.9"
                django-version: "5.0"
              - python-version: "3.8"
                django-version: "5.1"
              - python-version: "3.9"
                django-version: "5.1"
      - coverall:
          requires:
            - base-test

jobs:
  base-test:
    parameters:
      python-version:
        type: string
      django-version:
        type: string
    docker:
      - image: cimg/python:<<parameters.python-version>>-node
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: python version
          command: python --version

      - restore_cache:
          keys:
          - v1-js
      - restore_cache:
          keys:
          - v1-py

      - run:
          name: JS deps 
          command: cd tests && npm ci
      - save_cache:
          paths:
            - ./npm
          key: v1-js

      - run:
          name: setup python
          command: |
            python3 -m venv venv 
            source venv/bin/activate
            rm -f requirements.txt
            pip install -r tests/requirements/common.txt
            pip install django~=<<parameters.django-version>>.0
      - save_cache:
          paths:
            - ./cache/pip
          key: v1-py

      - run:
          name: Run tests
          command: |
            source venv/bin/activate
            cd tests
            coverage run --source=webpack_loader manage.py test
            if [ "$COVERALLS_REPO_TOKEN" != "" ]
            then
              coveralls
            fi
          environment:
            COVERALLS_PARALLEL: 1

  coverall:
    docker:
      - image: cimg/python:3.12-node
    steps:
      - run:
          name: Finish Coveralls
          command: |
            if [ "$COVERALLS_REPO_TOKEN" != "" ]
            then
              pip install coveralls
              coveralls --finish
            fi
